.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 16px;
  background-color: #f9fbfc;
}

.text-center {
  text-align: center;
  margin-bottom: 24px;
}

#progress-message {
  font-size: 16px;
  color: #333;
  margin-top: 8px;
}

#progress-details {
  width: 100%;
  background-color: #f2f6f8;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
}
s #progress-log {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

details summary {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
  font-size: 16px;
}

.progress-log-event {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

.progress-log-event:last-child {
  border-bottom: none;
}

.progress-line {
  height: 25px;
  background-color: #ccc;
  transform: translateY(-50%);
  border-radius: 0.5rem;
}

.progress-line-filled {
  height: 25px;
  background-color: var(--secondary-color);
  transition: width 0.5s ease;
  border-radius: 0.5rem;
}

.progress-line-filled-danger {
  height: 25px;
  background-color: #dc3545;
  transition: width 0.5s ease;
  border-radius: 0.5rem;
}

.message-block {
  padding-bottom: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background: rgba(255, 255, 255, 0.5);
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 80vh;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    padding: 5%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 80vh;
  }
}
