.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.6rem;
}

.activeText {
  /*margin-left: auto;*/
  grid-area: text;
  /*margin: 0;*/
  font-size: 16px;
}

 .title {
  grid-area: title;
  /*margin: 0;*/
  /* margin-left: auto;*/
  /* justify-self: left;*/
  font-size: 16px;
}

 .icon {
  grid-area: icon;
  /*margin: 0;*/
  font-size: 16px;
}

.dropbtn--primary {
  background-color: var(--primary-color);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: left;
  border-radius: 8px;

  margin-bottom: 4px;

  justify-content: space-between;

  display: grid;
  grid-template-areas: "title . text . icon";
  grid-template-columns: auto 25fr auto 1fr auto;

}

.dropbtn--primary.selected {
  background-color: var(--secondary-color);
  color: black;
}

.dropdown-content {
  text-align: left;
  display: flex;
  background-color: #f2f6f8;
  z-index: 1;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.dropdown-content a,
.dropdown-content input {
  color: black;

  padding: 8px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown--option {
  color: black;

  padding: 8px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover,
.dropdown-content input:hover {
  background-color: var(--hover-color);
}

.dropdown-content a.active {
  background-color: var(--secondary-color);
}

.dropdown--option:hover {
  background-color: var(--hover-color);
}

.dropdown--option--active {
  background-color: var(--secondary-color);
}

.dropdown-content input.active {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

.custom-option-container {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 12px;
  border-radius: 8px;
  width: 100%;
  background-color: #f2f6f8;
}

.custom-option {
  padding: 8px;
  width: calc(100%);
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #f2f6f8;
  color: black;
  border: none;
}

.info-icon {
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropbtn--secondary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  background-color: #f2f6f8;
  color: black;
  border-radius: 8px;
  border: none;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 4px;
  justify-content: space-between;
}

.dropbtn--secondary.active {
  background-color: var(--secondary-color);
}

.dropbtn--secondary:hover {
  background-color: var(--hover-color);
}
