.info-icon {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.info-text {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ccc;
  color: #000000;
  padding: 14px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  min-width: 200px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.info-text::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.info-icon:hover .info-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .info-text {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translate(-80%);
    background-color: #ccc;
    color: #000000;
    padding: 14px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    min-width: 200px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
