body {
  background: #e5e7eb;
  /*background: radial-gradient(circle at center top, #ffffff, transparent 50%),*/
  /*  radial-gradient(circle at center bottom, #ffffff, transparent 50%),*/
  /*  radial-gradient(circle at top left, #d8b4ff, transparent 60%),*/
  /*  radial-gradient(circle at top right, #b3e0ff, transparent 60%),*/
  /*  radial-gradient(circle at bottom left, #e6c8ff, transparent 60%),*/
  /*  radial-gradient(circle at bottom right, #80ccff, transparent 60%),*/
  /*  linear-gradient(*/
  /*    to right,*/
  /*    #ffffff 0%,*/
  /*    #ffffff 30%,*/
  /*    #ffffff 70%,*/
  /*    #ffffff 100%*/
  /*  ),*/
  /*background-image: url("static/custom-images/bg-transparent.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position: 100% 0;*/
  /*background-size: 70%;*/


  font-size: 16px;
  position: relative;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: "Montserrat";

  --primary-color: #2f2557;
  --secondary-color: #de73e5;
  --hover-color: #4cd9f4;
}

#root {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  #root {
    width: 100%;
    min-height: 100vh;
  }
}

h2 {
  margin: 0.5rem;
}

p {
  margin: 0.5rem;
}
